#!/bin/bash

# قراءة الإصدار من متغير البيئة الذي تحدده الـ GitHub Actions
ROUTEROS_VERSION="${LATEST_VERSION}"

# التأكد من وجود قيمة، وإذا لم توجد يمكن تعيين نسخة افتراضية
if [ -z "$ROUTEROS_VERSION" ]; then
    ROUTEROS_VERSION="6.49.19"  # النسخة الافتراضية
fi

# حذف أي مجلد موجود بنفس الاسم وإعادة إنشائه
sudo rm -rf ./new_iso
sudo mkdir -p ./new_iso
sudo chmod 777 ./new_iso   # إعطاء كافة الصلاحيات للمجلد

# تنزيل ملف RouterOS npk داخل المجلد
sudo wget -O ./new_iso/routeros-${ROUTEROS_VERSION}.npk https://download.mikrotik.com/routeros/${ROUTEROS_VERSION}/routeros-${ROUTEROS_VERSION}.npk

# بناء ISO باستخدام المجلد
sudo mkisofs -o routeros-custom.iso -R -J ./new_iso/
