name: Patch Mikrotik RouterOS
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'RouterOS version, e.g.: 6.49.15, leave blank for latest'
        type: string
        default: ''

permissions:
  contents: write

jobs:
  Create_SquashFS:
    runs-on: ubuntu-latest
    steps:
      - name: Create squashfs for option npk        
        run: |
          mkdir -p ./option-root/bin/
          wget -O bash -nv https://busybox.net/downloads/binaries/1.31.0-i686-uclibc/busybox_ASH
          wget -O busybox -nv https://busybox.net/downloads/binaries/1.31.0-i686-uclibc/busybox
          chmod +x busybox
          chmod +x bash
          mv busybox ./option-root/bin/
          mv bash ./option-root/bin/
          COMMANDS=$(./option-root/bin/busybox --list)
          for cmd in $COMMANDS; do
              ln -sf /pckg/option/bin/busybox ./option-root/bin/$cmd
          done
          mksquashfs option-root option.sfs -quiet -comp xz -no-xattrs -b 256k
          rm -rf option-root
       
      - name: Create squashfs for python3 npk        
        run: |
          wget -O cpython-3.11.9.tar.gz -nv https://github.com/indygreg/python-build-standalone/releases/download/20240415/cpython-3.11.9+20240415-x86_64-unknown-linux-musl-install_only.tar.gz
          tar -xf cpython-3.11.9.tar.gz
          rm -f cpython-3.11.9.tar.gz
          rm -rf ./python/include
          rm -rf ./python/share
          mksquashfs python python3.sfs -quiet -comp xz -no-xattrs -b 256k
          rm -rf python

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          retention-days: 1
          name: squashfs
          path: ./*.sfs

  Patch_RouterOS_Latest:
    runs-on: ubuntu-latest
    needs: Create_SquashFS
    env:
      LATEST_VERSION_URL: "https://upgrade.mikrotik.com/routeros/NEWESTa7."
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: squashfs

      - name: Determine RouterOS version
        run: |
          if [ "${{ inputs.version }}" == "" ]; then
            LATEST_VERSION=$(wget -nv -O - $LATEST_VERSION_URLstable | cut -d ' ' -f1)
          else
            LATEST_VERSION=${{ inputs.version }}
          fi
          echo "LATEST_VERSION=${LATEST_VERSION}" >> $GITHUB_ENV
          echo "Using version: $LATEST_VERSION"

      - name: Prepare folders
        run: |
          mkdir -p ./new_iso
          chmod 755 ./new_iso

      - name: Download NPK
        run: |
          sudo wget -nv -O ./new_iso/routeros-$LATEST_VERSION.npk https://download.mikrotik.com/routeros/$LATEST_VERSION/routeros-$LATEST_VERSION.npk
          sudo mv ./new_iso/routeros-$LATEST_VERSION.npk ./

      - name: Patch NPK
        run: |
          sudo -E python3 patch.py npk routeros-$LATEST_VERSION.npk

      - name: Copy keygen.zip and sign NPKs
        run: |
          sudo cp keygen.zip ./new_iso/
          NPK_FILES=$(find ./new_iso/*.npk)
          for file in $NPK_FILES; do
              sudo -E python3 npk.py sign $file $file
          done

      - name: Create option and python3 NPKs
        run: |
          sudo -E python3 npk.py create ./new_iso/gps-$LATEST_VERSION.npk ./option-$LATEST_VERSION.npk option ./option.sfs -desc="busybox and ash"
          sudo cp option-$LATEST_VERSION.npk ./new_iso/
          sudo -E python3 npk.py create ./new_iso/gps-$LATEST_VERSION.npk ./python3-$LATEST_VERSION.npk python3 ./python3.sfs -desc="python 3.11.9"
          sudo cp python3-$LATEST_VERSION.npk ./new_iso/

      - name: Download mikrotik ISO
        run: |
          sudo wget -nv -O mikrotik-$LATEST_VERSION.iso https://download.mikrotik.com/routeros/$LATEST_VERSION/mikrotik-$LATEST_VERSION.iso

      - name: Patch mikrotik ISO
        run: |
          sudo apt-get install -y mkisofs > /dev/null
          sudo mkdir ./iso
          sudo mount -o loop,ro mikrotik-$LATEST_VERSION.iso ./iso
          sudo rsync -a ./iso/ ./new_iso/
          sudo umount ./iso
          sudo rm -rf ./iso
          sudo rm -f mikrotik-$LATEST_VERSION.iso
          sudo mkisofs -o mikrotik-$LATEST_VERSION.iso \
                      -V "MikroTik $LATEST_VERSION Patched" \
                      -sysid "" -preparer "MiKroTiK" \
                      -publisher "" -A "MiKroTiK RouterOS" \
                      -b isolinux/isolinux.bin \
                      -c isolinux/boot.cat \
                      -no-emul-boot \
                      -boot-load-size 4 \
                      -boot-info-table \
                      -eltorito-alt-boot \
                      -e efiboot.img \
                      -no-emul-boot \
                      -R -J \
                      ./new_iso
          sudo rm -rf ./new_iso

      - name: Download and patch CHR image
        run: |
          sudo wget -nv -O chr-$LATEST_VERSION.img.zip https://download.mikrotik.com/routeros/$LATEST_VERSION/chr-$LATEST_VERSION.img.zip
          sudo unzip chr-$LATEST_VERSION.img.zip
          sudo rm chr-$LATEST_VERSION.img.zip
          sudo modprobe nbd
          sudo apt install -y qemu-utils > /dev/null
          sudo qemu-img convert -f raw -O qcow2 chr-$LATEST_VERSION.img chr-$LATEST_VERSION.qcow2
          sudo rm chr-$LATEST_VERSION.img
          sudo qemu-nbd -c /dev/nbd0 chr-$LATEST_VERSION.qcow2
          sudo -E python3 patch.py boot /dev/nbd0p1
          sudo mkdir ./routeros
          sudo mount /dev/nbd0p2 ./routeros
          sudo mkdir -p ./routeros/rw/disk
          sudo cp keygen.zip ./routeros/rw/disk
          sudo mkdir -p ./routeros/var/pdb/option
          sudo cp option-$LATEST_VERSION.npk ./routeros/var/pdb/option/image
          sudo cp routeros-$LATEST_VERSION.npk ./routeros/var/pdb/system/image
          sudo umount /dev/nbd0p2
          sudo rm -rf ./routeros
          sudo qemu-nbd -d /dev/nbd0

      - name: Download and patch netinstall
        run: |
          sudo wget -nv -O netinstall-$LATEST_VERSION.zip https://download.mikrotik.com/routeros/$LATEST_VERSION/netinstall-$LATEST_VERSION.zip
          sudo unzip netinstall-$LATEST_VERSION.zip
          sudo rm netinstall-$LATEST_VERSION.zip
          sudo -E python3 patch.py netinstall netinstall.exe
          sudo zip netinstall-$LATEST_VERSION.zip ./netinstall.exe

      - name: Download and patch install-image
        run: |
          sudo wget -nv -O install-image-$LATEST_VERSION.zip https://download.mikrotik.com/routeros/$LATEST_VERSION/install-image-$LATEST_VERSION.zip
          sudo unzip install-image-$LATEST_VERSION.zip
          sudo rm install-image-$LATEST_VERSION.zip
          sudo mkdir ./install
          sudo mount -o loop install-image-$LATEST_VERSION.img ./install
          sudo rm ./install/1.npk
          NPK_FILES=$(find ./install/*.npk)
          for file in $NPK_FILES; do
            sudo -E python3 npk.py sign $file $file
          done
          sudo cp routeros-$LATEST_VERSION.npk ./install/1.npk
          sudo cp keygen.zip ./install/
          sudo cp option-$LATEST_VERSION.npk ./install/100.npk
          sudo cp python3-$LATEST_VERSION.npk ./install/101.npk
          sudo cp linux ./install/
          sudo umount ./install
          sudo rm -rf ./install
          sudo zip install-image-$LATEST_VERSION.zip ./install-image-$LATEST_VERSION.img
          sudo rm ./install-image-$LATEST_VERSION.img

      - name: Download and patch mmips NPK
        run: |
          sudo wget -nv -O routeros-$LATEST_VERSION-mmips.npk https://download.mikrotik.com/routeros/$LATEST_VERSION/routeros-$LATEST_VERSION-mmips.npk
          sudo -E python3 patch.py npk routeros-$LATEST_VERSION-mmips.npk
          sudo zip routeros-$LATEST_VERSION-mmips.zip routeros-$LATEST_VERSION-mmips.npk
