name: Patch_Latest_RouterOS (stable)

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */12 * * *"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    - name: Download squashfs artifact
      uses: actions/download-artifact@v4
      with:
        name: squashfs

    - name: Show system info
      run: echo $(uname -a)

    - name: Get latest RouterOS version
      run: |
        LATEST_VERSION=$(wget -qO- https://download.mikrotik.com/routeros/LATEST.6)
        echo "LATEST_VERSION=$LATEST_VERSION" >> $GITHUB_ENV
        echo "Latest Version:$LATEST_VERSION"

    - name: Download netinstall
      run: |
        sudo wget -nv -O netinstall-$LATEST_VERSION.zip https://download.mikrotik.com/routeros/$LATEST_VERSION/netinstall-$LATEST_VERSION.zip
        unzip -o netinstall-$LATEST_VERSION.zip

    - name: Patch netinstall
      run: |
        sudo -E python3 patch.py netinstall netinstall.exe
        zip netinstall-$LATEST_VERSION.zip netinstall.exe

    - name: Download ISO
      run: sudo wget -nv -O mikrotik-$LATEST_VERSION.iso https://download.mikrotik.com/routeros/$LATEST_VERSION/mikrotik-$LATEST_VERSION.iso

    - name: Patch mikrotik-${{ env.LATEST_VERSION }}.iso
      run: |
        sudo apt-get install -y genisoimage > /dev/null
        sudo mkdir ./iso 
        sudo mount -o loop,ro mikrotik-$LATEST_VERSION.iso ./iso
        sudo mkdir ./new_iso
        sudo cp -r ./iso/* ./new_iso/
        sudo rsync -a ./iso/ ./new_iso/
        sudo umount ./iso
        sudo rm -rf ./iso
        sudo rm -f mikrotik-$LATEST_VERSION.iso
        sudo mv ./new_iso/routeros-$LATEST_VERSION.npk ./
        sudo -E python3 patch.py npk routeros-$LATEST_VERSION.npk
        sudo cp keygen.zip ./new_iso/
        NPK_FILES=$(find ./new_iso/*.npk)
        for file in $NPK_FILES; do
            sudo -E python3 npk.py sign $file $file
        done
        sudo cp routeros-$LATEST_VERSION.npk ./new_iso/
        sudo -E python3 npk.py create ./new_iso/gps-$LATEST_VERSION.npk ./option-$LATEST_VERSION.npk option ./option.sfs -desc="busybox and ash"
        sudo cp option-$LATEST_VERSION.npk ./new_iso/
        sudo -E python3 npk.py create ./new_iso/gps-$LATEST_VERSION.npk ./python3-$LATEST_VERSION.npk python3 ./python3.sfs -desc="python 3.11.9"
        sudo cp python3-$LATEST_VERSION.npk ./new_iso/
        sudo cp linux ./new_iso/isolinux/
        sudo mkdir ./efiboot
        sudo mount -o loop ./new_iso/efiboot.img ./efiboot
        sudo cp linux ./efiboot/linux.x86_64
        sudo umount ./efiboot
        sudo rm -rf ./efiboot
        sudo mkisofs -o mikrotik-$LATEST_VERSION.iso \
                    -V "MikroTik $LATEST_VERSION Patched" \
                    -sysid "" -preparer "MiKroTiK" \
                    -publisher "" -A "MiKroTiK RouterOS" \
                    -b isolinux/isolinux.bin \
                    -c isolinux/boot.cat \
                    -no-emul-boot \
                    -boot-load-size 4 \
                    -boot-info-table \
                    -eltorito-alt-boot \
                    -e efiboot.img \
                    -no-emul-boot \
                    -R -J \
                    ./new_iso
        sudo rm -rf ./new_iso

    - name: Upload Patched RouterOS Files / Release
      uses: softprops/action-gh-release@v2
      with:
        files: |
          netinstall-${{ env.LATEST_VERSION }}.zip
          mikrotik-${{ env.LATEST_VERSION }}.iso
          routeros-${{ env.LATEST_VERSION }}.npk
          python3-${{ env.LATEST_VERSION }}.npk
          option-${{ env.LATEST_VERSION }}.npk
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
