name: Patch Mikrotik MMIPS

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'RouterOS version, e.g.: 6.47.9 or 7.15.1'
        type: string
        default: ''

permissions:
  contents: write

jobs:
  Patch_MMIPS:
    runs-on: ubuntu-latest
    env:
      TZ: 'Asia/Shanghai'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set RouterOS version
        run: |
          if [ "${{ inputs.version }}" == "" ]; then
            LATEST_VERSION="6.47.9"
          else
            LATEST_VERSION=${{ inputs.version }}
          fi
          echo "LATEST_VERSION=${LATEST_VERSION}" >> $GITHUB_ENV

      - name: Download MMIPS npk (optional)
        continue-on-error: true
        run: |
          MMIPS_URL="https://download.mikrotik.com/routeros/$LATEST_VERSION/routeros-$LATEST_VERSION-mmips.npk"
          echo "Downloading $MMIPS_URL"
          wget -nv -O routeros-$LATEST_VERSION-mmips.npk $MMIPS_URL || echo "MMIPS file not found, skipping..."

      - name: Patch MMIPS npk (if exists)
        run: |
          if [ -f routeros-$LATEST_VERSION-mmips.npk ]; then
            python3 patch.py npk routeros-$LATEST_VERSION-mmips.npk
            zip routeros-$LATEST_VERSION-mmips.zip routeros-$LATEST_VERSION-mmips.npk
          else
            echo "MMIPS file not found, skipping patch..."
          fi

      - name: Create GitHub Release for MMIPS
        if: ${{ always() }}
        uses: softprops/action-gh-release@v2
        with:
          name: "MikroTik ${{ env.LATEST_VERSION }} MMIPS"
          body: "Patched MMIPS for RouterOS ${{ env.LATEST_VERSION }}"
          tag_name: "mmips-${{ env.LATEST_VERSION }}"
          make_latest: false
          prerelease: false
          files: routeros-${{ env.LATEST_VERSION }}-mmips.zip
